body {
  margin: 0px;
  padding: 0px;
}  

.menu-bg {
  background-color: #1D1E22;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}

.menu a {
  color: white;
}

.menu-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 20%;
  height:20%; 
  margin: auto;
  padding: 15px 0;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover{
  background-color: #1D1E22;
}

.menu-nav a.active {
  background-color: #04AA6D;
}
