.menu-bg {
  background-color: #1D1E22;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}

.menu a {
  color: white;
}

.menu-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 20%;
  height:20%; 
  margin: auto;
  padding: 15px 0;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  background-color: #1D1E22;
}

/* Cor link ativado  */
.menu-nav a.active {
  background-color: #04AA6D;
  color: #ffffff !important;
}

/* Cor mouse em cima link ativado */
.menu-nav a.active:hover {
  background-color: #04AA6D;
  color: #e9e9e9;
}

/* Funcionamendo em tablet e mobile */
@media screen and (max-width: 600px) {
  .menu-nav, menu, .menu-bg, .menu-nav ul {
    float: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  .menu-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    float: left;
    width: 50%;
    height:50%;
  }
}